#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_pt.h"

&mt { tapping_term_ms = <400>; };

//***************** default_layer
// |  Q  |  W  |  E  |  R  |  T  |             |  Y  |  U  |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G  |             |  H  |  J  |  K  |  L  |  Ç  |
// |  Z  |  X  |  C  |  V  |  B  |             |  N  |  M  |  ,  |  .  |  -  |
//             |  4  |  1  |BCSPC|             |SPACE|  2  |  3  |


//***************** num_layer
// |  F1 | F2  |  F3 | F4  | F5  |             | F6  | F7  | F8  | F9  | F10 |
// |  1  |  2  |  3  |  4  |  5  |             |  6  |  7  |  8  |  9  |  0  |
// | F11 | F12 |     |     |     |             |     |     |     |     |     |
//             |  4  |  1  | DEL |             | ENT |  2  |  3  |

//***************** symb_layer
// | ESQ |  "  |  #  |  $  |  %  |             |  &  |  \  |  <  |  >  |  =  |
// | TAB |  @  |  £  |  §  |     |             |     |  |  |     |  +  |  '  |
// |     |     |     |     |     |             |     |  /  |     |  º  |  ~  |
//             |  4  |  1  | DEL |             | ENT |  2  |  3  |

//***************** symb_layer2
// |  !  |     |     |  €  |     |             |  {  |  }  |  «  |  »  |  ?  |
// |     |     |     |     |     |             |  (  |  )  |     |  *  |  `  |
// |     |     |     |     |     |             |  [  |  ]  |     |  ª  |  ^  |
//             |  4  |  1  | DEL |             | ENT |  2  |  3  |

//***************** extra_layer
// |     |     |  Up |     | PGUP|             |PRINT| <-- | P/R | --> |     |
// |     | LFT | Dwn | RGT |     |             |     | -vl | nvl | +vl |     |
// |     |     |     |     |PGDWN|             | INS | HOME| END |     |     |
//             |  4  |  1  | DEL |             | ENT |  2  |  3  |

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <    
&trans  &kp Q                   &kp W                       &kp E                   &kp R                   &kp T              &kp Y               &kp U                        &kp I                   &kp O                       &kp P                       &trans
&trans  &mt LEFT_SHIFT A        &mt LEFT_CONTROL S          &mt LEFT_META D         &mt LEFT_ALT F          &kp G              &kp H               &mt RIGHT_ALT J              &mt LEFT_META K         &mt RIGHT_CONTROL L         &mt RIGHT_SHIFT PT_CCED     &trans
&trans  &kp Z                   &kp X                       &kp C                   &kp V                   &kp B              &kp N               &kp M                        &kp PT_COMM             &kp PT_DOT                  &kp PT_MINS                 &trans
                                                            &mo 4                   &mo 1                   &kp BACKSPACE      &kp SPACE           &mo 2                        &mo 3    
            >;  
        };

        // Num layer
        num_layer {
            bindings = <
&trans  &kp F1                  &kp F2                      &kp F3                  &kp F4                  &kp F5             &kp F6              &kp F7                       &kp F8                  &kp F9                      &kp F10                     &trans
&trans  &mt LEFT_SHIFT PT_1     &mt LEFT_CONTROL PT_2       &mt LEFT_META PT_3      &mt LEFT_ALT PT_4       &kp PT_5           &kp PT_6            &mt RIGHT_ALT PT_7           &mt LEFT_META PT_8      &mt RIGHT_CONTROL PT_9      &mt RIGHT_SHIFT PT_0        &trans
&trans  &kp F11                 &kp F12                     &trans                  &trans                  &trans             &trans              &trans                       &trans                  &trans                      &trans                      &trans
                                                            &mo 4                   &mo 1                   &kp DEL            &kp ENTER           &mo 2                        &mo 3
            >;
        };

        // Symb layer
        symb_layer {
            bindings = <
//&trans  &kp ESC                 &kp PT_DQUO                 &kp PT_HASH             &kp PT_DLR              &kp PT_PERC        &kp PT_AMPR        &kp PT_BSLS                   &kp PT_LABK             &kp PT_RABK                 &kp PT_EQL                  &trans
&trans  &kp F1                  &kp F2                      &kp F3                  &kp F4                  &kp F5             &kp F6              &kp F7                       &kp F8                  &kp F9                      &kp F10                     &trans
&trans  &mt LEFT_SHIFT TAB      &mt LEFT_CONTROL PT_AT      &mt LEFT_META PT_PND    &mt LEFT_ALT PT_SECT    &trans             &trans             &mt RIGHT_ALT PT_PIPE         &trans                  &trans                      &trans                      &trans
&trans  &trans                  &trans                      &kp PT_CCED             &trans                  &trans             &trans             &kp PT_SLSH                   &trans                  &kp PT_FORD                 &kp PT_TILD                 &trans
                                                            &mo 4                   &mo 1                   &kp DEL            &kp ENTER          &mo 2                         &mo 3
            >;
        };


        // Symb layer 2
        symb_layer2 {
            bindings = <
&trans  &kp PT_EXLM             &trans                      &trans                  &kp PT_EURO             &trans             &kp PT_LCBR              &kp PT_RCBR             &kp PT_LDAQ             &kp PT_RDAQ                 &kp PT_QUES                 &trans
&trans  &trans                  &trans                      &trans                  &trans                  &trans             &mt RIGHT_ALT PT_LPRN    &mt LEFT_META PT_RPRN   &trans                  &trans                      &trans                      &trans
&trans  &trans                  &trans                      &trans                  &trans                  &trans             &kp PT_LBRC              &kp PT_RBRC             &trans                  &trans                      &trans                      &trans
                                                            &mo 4                   &mo 1                   &kp DEL            &kp ENTER                &mo 2                   &mo 3
            >;
        };

        // Extra layer
        extra_layer {
            bindings = <
&trans  &trans                  &kp UP                      &trans                  &kp PGUP               &trans             &kp PRINT_SCREEN          &kp C_PREV              &kp C_PLAY_PAUSE        &kp C_NEXT                  &trans                      &trans
&trans  &kp LEFT                &kp DOWN                    &kp RIGHT               &trans                 &trans             &trans                    &kp VOLD                &kp MUTE                &kp VOLU                    &trans                      &trans
&trans  &trans                  &trans                      &trans                  &kp PGDOWN             &trans             &kp INS                   &kp HOME                &kp END                 &trans                      &trans                      &trans
                                                            &mo 4                   &mo 1                  &kp DEL            &kp ENTER                 &mo 2                  &mo 3
            >;
           };
    };
};      