#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_pt.h"

&mt { tapping_term_ms = <400>; };

//***************** default_layer
// |  Q  |  W  |  E  |  R  |  T  |             |  Y  |  U  |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G  |             |  H  |  J  |  K  |  L  | BACK|
// |  Z  |  X  |  C  |  V  |  B  |             |  N  |  M  |  ,  |  .  | RET |
//             | ALT |META |  1  |             |  2  |M/SPC| ALT |

//***************** mov_layer
// | ESQ |  (  |  Up |  )  | PGUP|             |PRINT| <-- | P/R | --> |  '  |
// | TAB | LFT | Dwn | RGT | DEL |             | DEL | -vl | nvl | +vl |  `  |
// |  \  |  [  |  Ç  |  ]  |PGDWN|             | INS | HOME| END |  º  |  ~  |
//             | ALT |META |  1  |             |  2  | SPAC| ALT |

//***************** num_layer
// |  1  |  2  |  3  |  4  |  5  |             |  6  |  7  |  8  |  9  |  0  |
// |  F1 | F2  |  F3 | F4  | F5  |             | F6  | F7  | F8  | F9  | F10 |
// |  +  |  -  |  *  |  /  |  =  |             | F11 | F12 |  »  |  {  |  }  |
//             | ALT |META |  1  |             |  2  | SPAC| ALT |

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&trans  &kp Q                       &kp W           &kp E               &kp R                       &kp T           &kp Y           &kp U                   &kp I               &kp O            &kp P                       &trans
&trans  &mt LEFT_SHIFT A            &kp S           &kp D               &kp F                       &kp G           &kp H           &kp J                   &kp K               &kp L            &mt RIGHT_SHIFT   ENTER     &trans
&trans  &mt LEFT_CONTROL Z          &kp X           &kp C               &kp V                       &kp B           &kp N           &kp M                   &kp PT_COMM         &kp PT_DOT       &mt RIGHT_CONTROL PT_MINS          &trans
                                                    &kp LEFT_ALT        &mt LEFT_META BACKSPACE     &mo 1           &mo 2           &mt LEFT_META SPACE     &kp RIGHT_CONTROL    
            >;
        };

        mov_layer {
            bindings = <
&trans  &kp ESCAPE                  &kp PT_EURO     &kp UP_ARROW        &kp PT_DLR                  &kp PAGE_UP     &kp PSCRN       &kp C_PREV              &kp C_PP            &kp C_NEXT       &kp PT_QUOT                 &trans
&trans  &mt LEFT_SHIFT TAB          &kp LEFT        &kp DOWN_ARROW      &kp RIGHT                   &kp PT_AT       &kp INS         &kp C_VOL_DN            &kp C_MUTE          &kp C_VOL_UP     &mt RIGHT_SHIFT PT_ACUT   &trans
&trans  &mt LEFT_CONTROL PT_LABK    &trans          &kp PT_CCED         &trans                      &kp PAGE_DOWN   &kp DEL         &kp HOME                &kp END             &kp PT_MORD      &mt RIGHT_CONTROL PT_TILD          &trans
                                                    &kp LEFT_ALT        &mt LEFT_META BACKSPACE     &mo 1           &mo 2           &mt LEFT_META SPACE     &kp RIGHT_CONTROL
            >;
        };

        num_layer {
            bindings = <
&trans  &mt F1 PT_EXLM              &mt F2 PT_DQUO  &mt F3 PT_HASH      &mt F4 PT_DLR               &mt F5 PT_PERC  &mt F6 PT_AMPR  &mt F7 PT_SLSH          &mt F8 PT_QUES      &mt F9 PT_LPRN    &mt F10 PT_RPRN            &trans
&trans  &mt LEFT_SHIFT PT_1         &kp PT_2        &kp PT_3            &kp PT_4                    &kp PT_5        &kp PT_6        &kp PT_7                &kp PT_8            &kp PT_9          &mt RIGHT_SHIFT PT_0       &trans
&trans  &mt LEFT_CONTROL PT_PLUS    &kp PT_MINS     &kp PT_ASTR         &kp PT_SLSH                 &kp PT_EQL      &trans          &kp PT_LCBR             &kp PT_RCBR         &kp PT_LBRC       &mt RIGHT_CONTROL PT_RBRC  &trans
                                                    &kp LEFT_ALT        &mt LEFT_META BACKSPACE     &mo 1           &mo 2           &mt LEFT_META SPACE     &kp RIGHT_CONTROL
            >;
        };
    };
};